<form action="/" method="GET">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Github username"
               name="uname"
               value="{{github.user}}"
               aria-describedby="github-username">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
                Reload list
            </button>
        </span>
    </div>
</form>