<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Github tracer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    {{> resources/core-css}}
</head>
<body role="document" data-position="{{jsonStringify position}}">
{{>header}}
<main class="container" role="main">
    {{{body}}}
</main>
{{> resources/core-js}}
</body>
</html>
