<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Malibu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    {{{styles}}}
</head>
<body role="document" data-position="{{jsonStringify position}}">
{{>header}}
<main class="container" role="main">
    {{{body}}}
</main>
{{{scripts}}}
</body>
</html>
