<h3>Thank you!</h3>

<p>
    You will receive an email
    {{#if email}}({{email}}){{/if}}
    with a PDF shortly.
</p>
<button type="button" class="close-floater btn btn-warning">
    CLOSE
</button>