<h1 class="event">Welcome on board!</h1>
{{#if req.user}}
    {{>github}}
{{else}}
    <p>
        Please <a class="btn btn-sm btn-primary" href="/login">login</a>
        <br />
        <i class="fa fa-2x fa-smile-o"></i>
    </p>
{{/if}}