<div class="well">
    <form class="horizontal-form" method="post" action="login">
        <div class="input-group">
            <span class="input-group-addon" id="login-email-label">
                <i class="fa fa-at"></i>
            </span>
            <input type="email" class="form-control" placeholder="E-mail"
                   name="email" value="jack@example.com"
                   aria-describedby="login-email-label" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="login-password-label">
                <i class="fa fa-key"></i>
            </span>
            <input type="password" class="form-control" placeholder="Password"
                   name="password" value="secret"
                   aria-describedby="login-password-label" required>
        </div>
        <button type="submit" class="btn btn-primary">
            Login
        </button>
    </form>
</div>
