<h1>Welcome</h1>
<p>This is your profile page!</p>
<hr />
{{#if loginUser}}
    <dl>
        <dt>Username</dt>
        <dd>{{loginUser.username}}</dd>
        <dt>Name</dt>
        <dd>{{loginUser.displayName}}</dd>
        <dt>email</dt>
        <dd>{{loginUser.email}}</dd>
    </dl>
{{/if}}
{{#if loginRedirect}}
    <script>
        var indexTimer = setTimeout(function () {
            window.location.href = '/';
        }, 1000);
    </script>
    <div class="well">
        After login, you are redirected to the main page!
        <div class="pull-right">
            <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
        </div>
    </div>
{{/if}}
