@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/theme.less";

@import "../bower_components/components-font-awesome/less/font-awesome.less";
@fa-font-path: "fonts";

@navbar-inverse-bg: #000044;

body {
  padding-top: 70px;
  padding-bottom: 30px;
  .input-group {
    margin-bottom: 20px;
    .input-group-addon {
      .fa {
        min-width: 1em;
      }
    }
  }
  .navbar {
    &.navbar-inverse {
      a {
        color: white;
      }
    }
  }
}

